/public/maps/*.png
/raw_data_processing/put_raw_data_here/*.dat
/raw_data_processing/skip_these_maps.json
*.dat

/build_all_local
/public/maps/backup/*

src/mapdata/processed_maps.json
raw_data_processing/profile_results.txt
raw_data_processing/Profile.prof

*__pycache__*

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
